@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Teko:400,700&display=swap&subset=devanagari");
@import url("https://fonts.googleapis.com/css?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
  color: black;
  width: 100vw;
  overflow-x: hidden;
}

body header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  min-width: 400px;
  height: 100vh;
  margin-top: -100vh;
  background: #1b1b1b;
  transition: 1s ease;
  z-index: 1000;
  font-family: 'Teko', 'Play', sans-serif;
}

body header .siteHeader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body header .siteHeader .navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body header .siteHeader .navMenu ul {
  position: relative;
}

body header .siteHeader .navMenu ul li {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0 20px;
  margin: 5px 0px;
  overflow: hidden;
  display: table;
}

body header .siteHeader .navMenu ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  padding-top: 12px;
  display: inline-block;
  transition: 0.5s ease-in-out;
}

body header .siteHeader .navMenu ul li a::before {
  content: attr(data-text);
  position: absolute;
  bottom: 100%;
  left: 0;
  color: white;
}

body header .siteHeader .navMenu ul li:before {
  content: '';
  position: absolute;
  background: #236b02;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}

body header .siteHeader .navMenu ul li:hover a {
  transform: translateY(100%);
  color: white;
}

body header .siteHeader .navMenu ul li:hover:before {
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
  transform-origin: top;
}

body header.menuActive {
  /*Стили для активного меню*/
  margin-top: 0;
}

body .myHanburger {
  /*Стили для кнопки меню*/
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  padding: 5px;
  margin: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  box-shadow: none;
  overflow: hidden;
  border: none;
  z-index: 1001;
}

body .myHanburger:focus {
  /*Убираем выделения кнопкии меню при нажатии*/
  outline: none;
}

body .myHanburger span {
  /*Стили для полосок внутри кнопки меню*/
  display: block;
  position: absolute;
  top: 28px;
  width: 48px;
  height: 4px;
  background: #fff;
}

body .myHanburger span:before {
  /*Стили для верхней полоски внутри кнопки меню*/
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 100%;
  height: 4px;
  background: #fff;
}

body .myHanburger span:after {
  /*Стили для нижней полоски внутри кнопки меню*/
  content: "";
  display: block;
  position: absolute;
  bottom: -16px;
  width: 100%;
  height: 4px;
  background: #fff;
}

body .myHanburger {
  background: #222222;
}

body .myHanburger span {
  /*Задаем длительность анимации для смены background полоски кнопки меню*/
  transition: background 0s 0.3s;
}

body .myHanburger span:before {
  /*Задаем длительность анимации для верхней полоски кнопки меню*/
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s,0s;
  transition-property: top, transform;
}

body .myHanburger span:after {
  /*Задаем длительность анимации для нижней полоски кнопки меню*/
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s,0s;
  transition-property: bottom, transform;
}

body .myHanburger.isActive {
  /*Стили для активной кнопки меню*/
  color: white;
}

body .myHanburger.isActive span {
  /*Стили для полосок активной кнопки меню*/
  background: none;
}

body .myHanburger.isActive span:before {
  /*Стили для верхней полоски активной кнопки меню*/
  top: 0;
  transform: rotate(-45deg);
  /*Поворот на -45 градусов*/
  transition-delay: 0s, 0.3s;
}

body .myHanburger.isActive span:after {
  /*Стили для нижней полоски активной кнопки меню*/
  bottom: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}

body #contectShow {
  position: fixed;
  width: 60px;
  height: 60px;
  background: #236b02;
  border: none;
  border-radius: 50%;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  z-index: 1002;
}

body #contectShow span {
  display: block;
}

body #contactWrap {
  display: block;
  max-width: 500px;
  min-width: 350px;
  position: fixed;
  bottom: 50px;
  left: 10px;
  background: #222222;
  z-index: 1001;
  color: white;
  font-size: 1.3em;
  margin-left: -120%;
  transition: 0.5s all ease-in-out;
}

body #contactWrap h3 {
  text-align: center;
  font-family: 'Teko', 'Play', sans-serif;
  margin: 30px 0px;
  font-size: 1.4em;
  text-transform: uppercase;
}

body #contactWrap .contactForm input, body #contactWrap .contactForm textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #236b02;
  display: block;
  width: 96%;
  margin: 20px auto;
  color: white;
  padding: 20px;
}

body #contactWrap .contactForm .myBtn {
  max-width: 200px;
  background: #236b02;
  border: none;
}

body #contactWrap.isActive {
  margin-left: 0;
}

body .banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body .banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
}

body .banner .gradientblock {
  background: transparent;
  background: linear-gradient(to bottom, black 0%, transparent 100%);
  height: 100vh;
  width: 100vw;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

body .banner .siteTitle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Teko', 'Play', sans-serif;
}

body .banner .siteTitle h1 {
  text-align: center;
  font-size: 8em;
  padding: 10px;
  cursor: pointer;
}

body .banner .siteTitle h1 span {
  display: inline-flex;
  color: #236b02;
}

body .banner .siteTitle h1 span:nth-child(even) {
  overflow: hidden;
  transition: 0.5s ease-in-out;
  color: white;
  border-bottom: 8px solid #236b02;
  letter-spacing: -1em;
}

body .banner .siteTitle h1:hover span:nth-child(even) {
  letter-spacing: 0em;
}

body .banner .siteTitle h1:hover span:nth-child(2) {
  transition-delay: 0s;
}

body .banner .siteTitle h1:hover span:nth-child(4) {
  transition-delay: 0.2s;
}

body .banner .siteTitle h1:hover span:nth-child(6) {
  transition-delay: 0.4s;
}

body .banner .siteTitle h1:hover span:nth-child(8) {
  transition-delay: 0.8s;
}

body .content {
  font-size: 1.3em;
}

body .content .container {
  max-width: 1400px;
  position: relative;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body .content .blockTitle {
  margin: 100px 0px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: 'Teko', 'Play', sans-serif;
}

body .content h4 {
  margin: 100px 0px;
  text-align: center;
  letter-spacing: 10px;
  font-family: 'Teko', 'Play', sans-serif;
}

body .content h3 {
  font-family: 'Teko', 'Play', sans-serif;
  text-align: center;
}

body .content h1 {
  text-align: center;
  letter-spacing: 10px;
  font-family: 'Teko', 'Play', sans-serif;
  margin-top: 100px;
  font-size: 2em;
  text-transform: uppercase;
}

body .content .eyesToppers {
  background: #181818;
  color: white;
  padding: 20px;
  padding-bottom: 100px;
}

body .content .eyesToppers .eyesToppersWrap {
  background: #181818;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-content: center;
  color: #236b02;
}

body .content .eyesToppers .eyesToppersWrap .eyesTopper {
  background: #333;
  color: white;
  transition: 1.5s ease;
  cursor: pointer;
  padding: 35px 20px;
  font-size: 0.8em;
  border-radius: 10px;
}

body .content .eyesToppers .eyesToppersWrap .eyesTopper .iconWrap {
  text-align: center;
  font-size: 8em;
  margin: 20px;
  margin-bottom: 40px;
}

body .content .eyesToppers .eyesToppersWrap .eyesTopper .textWrap {
  position: absolute;
}

body .content .eyesToppers .eyesToppersWrap .eyesTopper h3 {
  font-size: 1em;
}

body .content .eyesToppers .eyesToppersWrap .eyesTopper ul {
  display: block;
  margin: 10px;
}

body .content .eyesToppers .eyesToppersWrap .eyesTopper p {
  font-size: 0.9em;
  text-align: justify;
}

body .content .eyesToppers .eyesToppersWrap .eyesTopper:hover {
  box-shadow: -15px 10px 15px rgba(35, 107, 2, 0.3);
  color: #236b02;
}

body .content .messageBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  margin: 100px 0px;
}

body .content .messageBlock .messageText {
  display: block;
  max-width: 900px;
  padding: 100px 20px;
}

body .content .messageBlock .messageText h3 {
  text-align: center;
  margin: 20px 0px 40px;
}

body .content .messageBlock .messageText div {
  display: block;
  margin-left: 45px;
}

body .content .messageBlock .messageText ul li {
  list-style-type: square;
}

body .content .messageBlock .messageImages {
  position: relative;
  display: block;
  width: 500px;
  padding: 20px;
  height: 500px;
}

body .content .messageBlock .messageImages img {
  display: block;
  width: 75%;
  position: absolute;
  box-shadow: -15px 10px 15px rgba(0, 0, 0, 0.85);
}

body .content .messageBlock .messageImages img:nth-child(1) {
  right: 0;
  bottom: 0;
}

body .content .messageBlock .messageImages img:nth-child(2) {
  top: 0;
  right: 0;
}

body .content .messageBlock .messageImages img:nth-child(3) {
  top: 150px;
  left: 0;
}

body .content .messageBlock .messageImages:after {
  content: '';
  display: block;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 4px solid #236b02;
}

body .content .mainCharacteristic {
  padding: 100px 0px;
  background: #333;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
}

body .content .mainCharacteristic .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

body .content .mainCharacteristic .textBlock {
  padding: 10px;
}

body .content .mainCharacteristic .textBlock div {
  display: block;
  margin-left: 45px;
}

body .content .mainCharacteristic .imgBlock {
  max-width: 500px;
}

body .content .mainCharacteristic .imgBlock img {
  width: 100%;
}

body .content .mainCharacteristic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #236b02;
  clip-path: polygon(0 0, 28% 0, 13% 100%, 0% 100%);
}

body .content .ourTeam {
  width: 100%;
  background: #2a2a2a;
  color: white;
  padding-bottom: 100px;
}

body .content .ourTeam .nextMove, body .content .ourTeam .prevMove {
  display: flex;
  height: 100%;
  max-width: 100px;
  align-items: center;
}

body .content .ourTeam .nextMove button, body .content .ourTeam .prevMove button {
  border: none;
  background: none;
  color: #236b02;
  font-size: 1.3em;
  cursor: pointer;
  position: relative;
  height: 120px;
}

body .content .ourTeam .nextMove button img, body .content .ourTeam .prevMove button img {
  height: 100%;
}

body .content .ourTeam .teamSlides {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body .content .ourTeam .teamSlides .teamSliderWrap {
  position: relative;
  overflow: hidden;
  padding: 25px 0px;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider {
  display: flex;
  flex-direction: row;
  width: 3000px;
  justify-content: flex-start;
  transition: 1s all ease-in-out;
  margin-left: 0px;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide {
  display: flex;
  width: 370px;
  height: 500px;
  margin: 0 30px;
  position: relative;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face {
  width: 98%;
  height: 98%;
  box-shadow: -15px 10px 15px rgba(0, 0, 0, 0.85);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face img {
  height: 100%;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face1 {
  top: 0px;
  left: 0px;
  transition-property: left, z-index, transform;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  z-index: 2;
  transform: translate(-10px, -10px);
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 {
  background: white;
  color: black;
  top: 0px;
  right: 0px;
  transition-property: left, z-index, transform;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  z-index: 1;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information h3, body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information h5 {
  text-align: center;
  font-family: 'Teko', 'Play', sans-serif;
  font-size: 1.4em;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information p {
  text-align: justify;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information .socials {
  display: block;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information ul.socialIcons {
  margin: 20px 0px;
  width: 320px;
  list-style: none;
  z-index: 10;
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information ul.socialIcons li {
  width: 50px;
  height: 40px;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information ul.socialIcons a {
  color: black;
  background: none;
  font-size: 1.4em;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide .face2 .information ul.socialIcons a:hover {
  background: none;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide:hover .face1 {
  transition-property: transform, z-index, left;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  transform: translate(-190px, -10px);
  z-index: 1;
  left: 160px;
}

body .content .ourTeam .teamSlides .teamSliderWrap #teamSlider .slide:hover .face2 {
  transition-property: transform, z-index, left;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.0s;
  transform: translate(160px, -10px);
  z-index: 2;
  left: -160px;
}

body .content .partners {
  margin: 100px 0px;
}

body .content .partners img {
  width: 100%;
}

body .content .social {
  margin: 30px 0px 150px;
}

body .content .social .container {
  display: flex;
  flex-direction: column;
}

body .content .social .socialWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body .content .social .socialWrapper a {
  display: flex;
  min-width: 320px;
  min-height: 320px;
  margin: 5px;
  background: #222;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

body .content .social .socialWrapper a span {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 2em;
}

body .content .social .socialWrapper a .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}

body .content .social .socialWrapper a .icon i {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 5.5em;
}

body .content .social .socialWrapper a .title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}

body .content .social .socialWrapper a:hover .icon {
  transform: scale(0.5);
  top: -20%;
}

body .content .social .socialWrapper a:hover .title {
  top: 0%;
}

body .content .social .socialWrapper #facebook {
  background: #4343aa;
}

body .content .social .socialWrapper #linkedin {
  background: #2323a5;
}

body .content .social .socialWrapper #instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 25%, #d6249f 60%, #285AEB 90%);
}

body .content .social .socialWrapper #youtube {
  background: #b81919;
}

body .content .googleMap {
  background: #222;
  color: white;
}

body .content .googleMap #map {
  background: white;
  width: 100%;
  height: 80vh;
}

body .content .gallery {
  width: 100%;
  display: grid;
  margin: 150px 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-template-areas: "img-1 img-1 img-2 img-3" "img-4 img-5 img-5 img-3" "img-4 img-7 img-6 img-6";
}

body .content .gallery div {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .content .gallery div .info {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.692);
  opacity: 0;
  transition: 0.5s all ease;
}

body .content .gallery div .info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: 7px solid white;
  border-left: 7px solid white;
  z-index: 5;
}

body .content .gallery div .info:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
  z-index: 5;
}

body .content .gallery div .info h3 {
  margin: 30px 0px;
  text-transform: uppercase;
  font-family: 'Teko', 'Play', sans-serif;
}

body .content .gallery div .info a {
  padding: 10px 40px;
  border: 3px solid #236b02;
  text-transform: uppercase;
  text-decoration: none;
  color: #236b02;
  border-radius: 5px;
  transition: 0.5s;
}

body .content .gallery div .info a:hover {
  border: 3px solid white;
  color: white;
}

body .content .gallery div:hover .info {
  opacity: 1;
}

body .content .gallery .img-1 {
  grid-area: img-1;
}

body .content .gallery .img-2 {
  grid-area: img-2;
}

body .content .gallery .img-3 {
  grid-area: img-3;
  min-height: 800px;
}

body .content .gallery .img-4 {
  grid-area: img-4;
  min-height: 800px;
}

body .content .gallery .img-5 {
  grid-area: img-5;
}

body .content .gallery .img-6 {
  grid-area: img-6;
}

body .content .gallery .img-7 {
  grid-area: img-7;
}

body .content .newsWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: center;
}

body .content .newsWrap .new {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

body .content .newsWrap .new .imgBox {
  position: relative;
}

body .content .newsWrap .new .imgBox img {
  width: 100%;
}

body .content .newsWrap .new .imgBox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: 7px solid #236b02;
  border-left: 7px solid #236b02;
  z-index: 5;
}

body .content .newsWrap .new .imgBox:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-bottom: 7px solid #236b02;
  border-right: 7px solid #236b02;
  z-index: 5;
}

body .content .newsWrap .new .textBox {
  max-width: 1000px;
  min-width: 320px;
  background-color: #222;
  color: white;
  padding: 30px;
}

body .content .newsWrap .new .textBox a {
  color: #236b02;
  text-decoration: none;
  padding: 0px 20px;
  font-family: 'Teko', 'Play', sans-serif;
  letter-spacing: 5px;
  transition: 0.5s all ease;
}

body .content .newsWrap .new .textBox a:hover {
  color: white;
}

body .content .newsWrap .new:nth-child(even) {
  flex-direction: row-reverse;
}

body footer {
  padding: 100px 0px;
  background: #222222;
  color: white;
  text-align: center;
}

body footer h2, body footer h3 {
  letter-spacing: 6px;
  font-family: 'Teko', 'Play', sans-serif;
}

body footer h2 {
  text-transform: uppercase;
}

body footer .socialWrap {
  width: 320px;
  margin: 20px auto;
}

body footer .socialWrap ul.socialIcons {
  margin: 20px 0px;
  width: 320px;
  list-style: none;
  z-index: 10;
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body footer .socialWrap ul.socialIcons li {
  width: 50px;
  height: 40px;
}

body footer .socialWrap ul.socialIcons a {
  color: white;
  background: none;
  font-size: 1.4em;
}

body footer .socialWrap ul.socialIcons a:hover {
  background: none;
}
