@media (max-width: 1300px) {
  body .banner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }
  body .content .gallery {
    grid-template-areas: "img-1 img-1 img-1 img-2" "img-3 img-4 img-4 img-4" "img-3 img-5 img-5 img-5" "img-7 img-7 img-6 img-6";
  }
}

@media (max-width: 1200px) {
  body .content .newsWrap {
    flex-wrap: wrap !important;
  }
  body .content .newsWrap .new {
    width: 48% !important;
    flex-direction: column;
    flex-wrap: wrap;
  }
  body .content .newsWrap .new:nth-child(even) {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  body .banner .siteTitle h1 {
    font-size: 4em;
  }
  body .content .newsWrap .new {
    width: 100% !important;
    flex-direction: column;
  }
  body .content .gallery {
    grid-template-areas: "img-1 img-1 img-1 img-1"  "img-2 img-2 img-2 img-2"  "img-3 img-3 img-3 img-3"  "img-4 img-4 img-4 img-4"  "img-5 img-5 img-5 img-5"  "img-6 img-6 img-6 img-6"  "img-7 img-7 img-7 img-7";
  }
  body .content .messageBlock .messageImages {
    width: 100% !important;
  }
  body .content .ourTeam .nextMove button, body .content .ourTeam .prevMove button {
    height: 60px;
  }
  body .content .ourTeam .nextMove button img, body .content .ourTeam .prevMove button img {
    height: 100%;
  }
  body .content .ourTeam .teamSlides {
    width: 100%;
  }
  body .content .ourTeam .teamSlides .slide {
    width: 320px !important;
    height: 450px !important;
  }
  body .content .ourTeam .teamSlides .slide .face {
    width: 320px !important;
    height: 450px !important;
  }
  body .content .ourTeam .teamSlides .slide .face img {
    width: 320px !important;
    height: auto;
  }
  body .content .ourTeam .teamSlides .slide .face2 .information {
    width: 320px !important;
    padding: 20px;
  }
  body .content .ourTeam .teamSlides .slide:hover .face2 {
    transform: translate(120px, -10px) !important;
  }
}
